<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
</head>
<body>
    <div>
        {{#cred_mistake}}
            <p>Your login and pass info is not correct. Please enter your creds carefully or leave this page.</p>
        {{/cred_mistake}}
        <form action="/help/login/" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" required="required" minlength="5"><br>
            <label for="pass">Password</label>
            <input type="text" name="pass" required="required" minlength="5">
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>