<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
    <div>
        <div>
            <p>datetime: {{datetime}}</p>
        </div>
        <div>
            <p>exception: {{exception}}</p>
        </div>
        <div>
            <p>url: {{url}}</p>
        </div>
    </div>
</body>
</html>
